@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-4 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-2;
  }
  &:hover {
    @apply border-gray-600;
  }
}

.page_hover {
  @apply mx-3 pb-1 px-10px ;
  &:hover {
    @apply rounded-circle  bg-gray-100;
  }
}

.btn {
  @apply text-center rounded-sm py-5 font-light text-lg w-full;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

.btn-back {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-teal-500;
}

.search-btn {
  @apply border-t border-r border-b px-4 border-black;
  background-color:#FF385C;
  img {
    filter: invert(100%) sepia(26%) saturate(0%) hue-rotate(41deg) brightness(103%) contrast(104%);
  }
}


input,
textarea,
select {
  @apply rounded-sm py-5 font-light text-lg w-full text-left border border-gray-600 px-5;
  &:focus {
    border-color: #38b2ac;
    @apply outline-none ;
  }
}


textarea {
  resize: none;
  height: 100px;
}

select {
  // height: 7px;
}

form {
  .input {
    @apply mb-6 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

form.search {
  input[type=checkbox] {
    @apply w-8
  }
  input {
    @apply py-3
  }
  input[name=baths] {
    @apply mb-4
  }
}

form.room-form {
  input[type=checkbox] {
    @apply w-8
  }
  input {
    @apply py-3
  }
  input[name=baths] {
    @apply mb-4
  }
}

input[name=instant_book] {
  @apply w-8
}

.amenities {
  @apply truncate

}


@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  5% {
    opacity: 1;
    transform: translateY(10px);
  }
  95% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}



.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

.img-avatar {
  @apply w-40 h-40 rounded-full bg-cover ;
}

.img-file {
  @apply  w-full h-96  bg-center bg-full;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}


.cal-number {
  @apply w-full text-center rounded p-1 cursor-pointer;
}

.filter-scroll  {
  -ms-overflow-style: none;
  /*overflow-y: scroll;*/
  max-height: 25rem;
  padding-right: 3px;
  overflow: auto;
}

.filter-scroll::-webkit-scrollbar {
  // display: compact;
  width: 10px;
  height: 10px;
}

.filter-scroll::-webkit-scrollbar-thumb {
background-color: #d3d3d3;
border-radius: 10px;
background-clip: padding-box;
border: 2px solid transparent;
}

.amenities-scroll::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}

.mulchk-scroll  {
  -ms-overflow-style: none;
  /*overflow-y: scroll;*/
  max-height: 12rem;
  padding-right: 3px;
  overflow: auto;
}

.mulchk-scroll::-webkit-scrollbar {
  // display: compact;
  width: 10px;
  height: 10px;
}

.mulchk-scroll::-webkit-scrollbar-thumb {
background-color: #d3d3d3;
border-radius: 10px;
background-clip: padding-box;
border: 2px solid transparent;
}

.mulchk-scroll::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}


.chat-scroll  {
  -ms-overflow-style: none;
  /*overflow-y: scroll;*/
  max-height: 32rem;
  padding-right: 3px;
  overflow: auto;
}

.chat-scroll::-webkit-scrollbar {
  // display: compact;
  width: 10px;
  height: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb {
background-color: #d3d3d3;
border-radius: 10px;
background-clip: padding-box;
border: 2px solid transparent;
}

.chat-scroll::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}



.conv-scroll  {
  -ms-overflow-style: none;
  /*overflow-y: scroll;*/
  height: 34rem;
  padding-right: 3px;
  overflow: auto;
}

.conv-scroll::-webkit-scrollbar {
  // display: compact;
  width: 10px;
  height: 10px;
}

.conv-scroll::-webkit-scrollbar-thumb {
background-color: #d3d3d3;
border-radius: 10px;
background-clip: padding-box;
border: 2px solid transparent;
}

.conv-scroll::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 10px;
box-shadow: inset 0px 0px 5px white;
}


.reserv_link {
  @apply ml-4 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-2;
  }
  &:hover {
    @apply rounded-md bg-blue-400 text-white;
  }
}

.reserv-forcus {
  @apply rounded-md bg-blue-500 text-white
}

.reserv-op-forcus {
  @apply border-gray-600
}


@tailwind utilities;

