<th:block th:fragment="header">
    <div class="container mx-auto rounded-lg" style="
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;"
    >
        <button id="home" class="btn bg-black w-24 rounded-lg text-white font-bold" onclick="location.href='/'">Home
        </button>
        <button id="logout" class="btn bg-red-500 rounded-lg w-1/6 text-white font-bold" style="width: 120px;">Logout
        </button>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>

    </div>
    <script th:src="@{/js/ajax_call.js}" defer></script>
    <script th:src="@{/js/socket.js}" defer></script>
    <script>
        document.getElementById('logout').addEventListener('click', async e => {

            let _tk = document.querySelector('input[name=_csrf]').value
            let _tk_header = document.querySelector('input[name=_csrf_header]').value

            let url = `/log-out`;
            // let url = `/api/log-out`;
            let _h = {
                [_tk_header]: _tk,
            };

            let result = await ajaxCall(url, 'POST', null, _h)

            if (result.ok) {
                window.location.href = '/'; // 로그인 페이지로 이동
            }

        });
    </script>
    <script>

        // DOMContentLoaded
        window.addEventListener('DOMContentLoaded', (event) => {
            const pathname = location.pathname
            const userId = [[${user.id}]]

            const __noti_url = `${window.location.host}/ws/noti/${userId}`
            const __notiSocket = socket_connect(__noti_url)
            console.log("header")
            console.log("me__noti_url", __noti_url)

            let _noti_data

            __notiSocket.onmessage = (e) => {
                // console.log("__notiSocket.onmessage !!!!!!!!!!!!!!!!!!!!!!!!!!!")
                _noti_data = JSON.parse(e.data);
                // console.log("################",_noti_data)

                if (!_noti_data || !_noti_data.message) return

                if (_noti_data.message.type == "conversation") {

                    if (pathname.includes(`conversations/${_noti_data.message.conv_id}`)) {
                        return
                    }

                    // addNoticePoint("conversations");

                    if (pathname.includes("conversations/list")) {
                        document.querySelectorAll(".convs").forEach(item => {
                            if (item.id === _noti_data.message.conv_id) {

                                if (item.children[2]) return

                                let span = createNoticeePoint();
                                item.appendChild(span)
                            }
                        });
                    }
                } else if (_noti_data.message.type == "reservation") {
                    addNoticePoint("reservations");
                } else if (_noti_data.message.type === "read") {

                    if (pathname.includes(`conversations/${_noti_data.message.conv_id}`) && _noti_data.message.op_id == userId) {

                        let read_arr = document.querySelectorAll(".is-read")

                        if (read_arr)
                            read_arr.forEach((elem) => elem.remove());
                    }
                }

            };

            function createNoticeePoint() {

                let span = document.createElement("span");
                span.className = pathname.includes("conversations/list") ? 'flex text-right text-sm text-red-500' : "text-xs text-red-500"
                span.innerText = "●"

                return span
            }

            function addNoticePoint(_id) {
                if (document.querySelector(`#${_id} > span`)) return

                let span = createNoticeePoint();
                document.querySelector(`#${_id}`).appendChild(span)
            }
        })
    </script>
</th:block>